@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



.CodeMirror {
    height: 340px !important;
    color: white;
}

.CodeMirror-guttres {
    background: #1d1e22 !important;
}
